@import "colors";

.wp-block-kcls-kcls-recent-news {
	margin: 1rem auto;
}

/* *********** */
/* LATEST NEWS */
/* *********** */

.kcls-news {
	background-color: $kcls-light;

	header {
		max-width: 400px;
		display: flex;
		justify-content: space-between;
	}
}

.kcls-news > div > .kcls-section-title > div {
	display: flex;
	h2 {
		padding-right: 2rem;
	}
}

.kcls-news a {
	text-decoration: none;
	font-weight: bold;
	color: inherit;
}

.kcls-recent-posts {
	margin: auto;
	max-width: 95%;
	display: grid;
	grid-template-columns: minmax(300px, 1fr) minmax(300px, 1fr) 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	grid-template-areas:
		"main main side-1 side-2"
		"main main side-3 side-4";
}

.kcls-most-recent-post {
	grid-area: main;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 0rem 2rem;
	margin: 1rem;
	color: #071420;
	background-color: white;
	box-shadow: 15px 15px 15px #071420;
	border-radius: 15px;
	h3 {
		font-size: 1.7rem;
		padding-top: 1rem;
	}
	img {
		max-width: 100%;
		height: auto;
		border-radius: 15px;
	}
}

.kcls-recent-post {
	display: grid;
	grid-template-columns: 2fr 1fr;
	align-items: center;
	margin: 1.2rem;
	padding: 1rem;
	box-shadow: 15px 15px 15px #071420;
	background-color: white;
	color: black;
	border-radius: 15px;
	max-width: 400px;
	text-align: center;

	img {
		max-width: 80px;
		height: auto;
		border-radius: 5px;
	}
}

.kcls-recent-post-time {
	font-size: 0.75rem;
	margin: 0.75rem 0;
}

.kcls-recent-post-expanded > p {
	margin: 2rem 0;
	line-height: 1.5rem;
}

.kcls-blurb-and-image {
	display: grid;
	grid-template-columns: 2fr 1fr;
	align-items: center;
}

.kcls-read-blog-button a {
	display: flex;
	align-items: center;
	text-align: center;
	padding: 1rem;
	border-radius: 10px;
	color: #fff;
	background-color: $kcls-green;
	font-size: 0.75rem;
}

.kcls-read-blog-button:hover {
	cursor: pointer;
}

@media screen and (max-width: 1200px) {
	.kcls-recent-posts {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}

	.kcls-recent-post {
		width: 350px;
		max-height: 300px;
	}
}
